<div class="container">
     <div class="panel panel-default" style="margin-top: 2%">
          <div class="panel-heading">
               <h3 class="panel-title">Promises examples</h3>
          </div>

          <div class="panel-body">
               <div class="row">
                    <div class="col-md-10 col-md-offset-2" ng-controller="promisesChainingDemoController">
                         <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" ng-click="problemWithOrder()" class="btn btn-default">problemWithOrder</button>
                              <button type="button" ng-click="deliverOrderForBoth()" class="btn btn-default">deliverOrderForBoth</button>
                              <button type="button" ng-click="deliverOrderWithChain()" class="btn btn-default">deliverOrderWithChain</button>
                              <button type="button" ng-click="problemWithOrderWithChain()" class="btn btn-default">problemWithOrderWithChain</button>
                              <button type="button" ng-click="retryWithChain()" class="btn btn-default">retryWithChain</button>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
