<div class="row col-md-8 col-md-offset-2" style="border: 1px solid red; padding:4px;" ng-controller="scopeVariableDemoController">
	<pre>PARENT VAR: {{parentVar}}</pre>
	<pre>PARENT OBJ : {{parentObj}}</pre>
	<div ng-controller="childController" style="border: 1px solid blue; padding:4px;" >
		<hr>
		<input type="text" class="form-control" ng-model="parentVar"><br>
		<input type="text" class="form-control" ng-model="parentObj.val">
		<hr>
		<button ng-click="changeValue(parentVar,parentObj.val)" class="btn btn-primary disabled">SAVE</button>
	</div>
</div>
